@import "/css/template.css";
@import "/css/card.css";

/* style for mobile version */

aside.agenda {
  display: none;
}

aside section {
  background-color: var(--color-off-white);

  padding: 8px;
}

aside .agenda {

  display: flex;

  margin-top: 8px;
}

aside .agenda img {
  margin-top: 16px;
}

.title h1 {
  text-align: center;
}

main h2 {
  text-align: left;
}

/*-----------media queries----------------*/

@media (min-width: 800px) {
  .title h1 {
    text-align: start;
  }

  aside.agenda {
    display: block;
  }

}
