@font-face {
    font-family: "Amatic SC";
    src: url("/assets/fonts/amatic/AmaticSC-Bold.ttf") format(truetype);
}

@font-face {
    font-family: "Amatic SC";
    src: url("/assets/fonts/amatic/AmaticSC-Regular.ttf") format(truetype);
}

@font-face {
    font-family: "Tenor Sans";
    src: url("/assets/fonts/Ternor/TenorSans-Regular.ttf") format(truetype);
}

:root {
      /* Used for site bg, font, card bg */
  --off-white-color: #FCFCFC;

     /* Used for bg element*/
  --bg-element-color: #F8F0E7;

       /* Used for fonts, icon*/
  --font-color: #212427;

   /* Used for placeholder and overlay*/
  --blue-color: #888888;

      /* Used for CTA, accent, font, action, link, placeholder*/
  --purple-color: #8949A7;

    /* Used for header and footer*/
  --celeste-blue-color: #DAEBF2;

      /* Used for banner and footer*/
  --turquoise-blue-color: #5BC1CF;

     /* Used for banner and bg*/
  --blue-color: #127ACA;

    /* Used for accent, action and border*/
  --orange-color: #DD8560;
}

body {
  background-color: var(--off-white-color);
}

a {
  color: #212427;
  text-decoration: none;
}

a:hover,
a:hover * {
  transition: all 0.3s ease;
  color: var(--orange-color);

  font-weight: bold;
}

a.active {
  border-bottom: 2px solid var(--orange-color);
}