@import "/css/template.css";
@import "/css/card.css";

/* custom css for homepage */
main {
  gap: 0;
}
.hero a:not(:hover) {
  color: var(--color-purple);
}

.banner-top {
  margin: 48px 0 0 0;

  align-items: center;
  text-align: center;
}

.title {
  margin-top: 24px;
}

.text-overlay h1 {
  margin: 0;
  font-size: 24px;
  line-height: 1.1em;
}

.text-overlay p {
  display: none;
}

.bottom-section {
  grid-area: 4 / 2 / span 1 / span 4;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin: 24px 0;
}

section.banner-bottom h2 {
  align-self: center;
}

section.services {
  align-items: center;
}

section.services img {
  padding: 16px;
}

footer {
  grid-area: 5 / 1 / span 1 / span 14;
}

/*-----media queries/desktop--------- */

@media (min-width: 500px) {
  .text-overlay h1 {
    font-size: 32px;
  }
  .text-overlay p {
    display: block;
  }
}

@media (min-width: 800px) {
  .title {
    grid-area: 2 / 2 / span 1 / span 12;

    margin-top: 24px;
  }

  main {
    grid-area: 3 / 2 / span 1 / span 12;
  }

  .text-overlay h1 {
    margin: 0.83em;
    font-size: 40px;
  }
  .text-overlay p {
    display: block;
  }

  /*----- homne banner top--------- */

  .banner-top {
    /* margin: 48px 0 0 0; */
    padding: 16px;
  }

  .banner-top h2 {
    margin-top: 0;
  }

  .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
  }

  .wrap .info {
    flex-basis: calc(50% - calc(16px / 2));

    display: flex;
    flex-direction: column;
  }

  .wrap .info .card {
    flex-grow: 1;
  }

  footer {
    grid-area: 5 / 1 / span 1 / span 14;
  }

  .bottom-section {
    grid-area: 4 / 2 / span 1 / span 12;

    display: flex;
    flex-direction: row;
    column-gap: 16px;

    margin-top: 48px;
  }

  .bottom-section section {
    flex-basis: 50%;
  }
}
