#main-container {
  display: grid;
  grid-template-columns: 24px repeat(4, 1fr) 24px;
  grid-template-rows: min-content auto min-content;
}

header {
  grid-area: 1 / 1 / span 1 / span 14;
  background-color: var(--color-celeste-blue);
}

main {
  grid-area: 2 / 2 / span 1 / span 4;
  display: flex;
  flex-direction: column;

}

footer {
  grid-area: 3 / 1 / span 1 / span 14;
  background-color: var(--color-celeste-blue);
}

img.fit-image {
  width: 100%;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

body {
  background-color: var(--off-white);
}

.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;

  background-color: var(--color-purple);
  text-transform: uppercase;
  padding: 16px;
  border-radius: 32px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.cta a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  color: var(--color-off-white);
}

@media (min-width: 800px) {
  #main-container {
    grid-template-columns: 88px repeat(12, 1fr) 88px;
  }

  main {
    grid-area: 2 / 2 / span 1 / span 12;
  }
}
