

/*-------custom css for mobile------- */

#main-container {
  display: grid;
  grid-template-columns: 24px repeat(4, 1fr) 24px;
  grid-template-rows: min-content min-content auto min-content;
}

header {
  grid-area: 1 / 1 / span 1 / span 14;
  background-color: var(--color-celeste-blue);
}

.title {
  grid-area: 2 / 2 / span 1 / span 4;
}

main {
  grid-area: 3 / 2 / span 1 / span 4;
  display: flex;
  flex-direction: column;
}

/*-------custom css for mobile------- */

.image-gradient {
  position: absolute;
  top: 0;

  /* background: linear-gradient(
    180deg,
    #888888 0%,
    rgba(33, 36, 39, 0.790083) 31.77%,
    rgba(217, 217, 217, 0) 100%
  );
  transform: rotate(-180deg); */

  z-index: 10;

  background: linear-gradient(
    180deg,
    #daebf2 0%,
    #daebf2 21.88%,
    rgba(230, 230, 230, 0) 60.94%
  );
  transform: rotate(-180deg);
}

.text-overlay {
  position: absolute;
  z-index: 20;
  bottom: 0;

  text-align: center;
  /* color: var(--color-off-white); */
  color: var(--color-purple);

  padding: 8px;
}

.text-overlay h1 {
  color: var(--color-off-white);
}

.text-overlay p {
  margin: 0;
}

section.banner-bottom {
  grid-area: 4 / 2 / span 1 / span 2;
}

section.services {
  grid-area: 4 / 4 / span 1 / span 2;
}

footer {
  grid-area: 5 / 1 / span 1 / span 14;
  background-color: var(--color-celeste-blue);

  margin-top: 48px;
}

p.text-center {
  text-align: center;
}

img.fit-image {
  width: 100%;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.hr {
  height: 1px;
  border: 0;
  margin-top: 24px;
  margin-bottom: 0;

  background-color: var(--color-gray);
}

.h-100 {
  height: 100%;
}

.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  align-self: center;

  background-color: var(--color-purple);
  text-transform: uppercase;
  white-space: nowrap;
  padding: 16px;
  border-radius: 32px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  width: 100%;
}

.cta a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  color: var(--color-off-white);
}

/*-----media queries/desktop--------- */

@media (min-width: 800px) {
  #main-container {
    grid-template-columns: 88px repeat(12, 1fr) 88px;
  }

  main {
    grid-area: 3 / 2 / span 1 / span 8;
  }

  aside {
    grid-area: 3 / 11 / span 1 / span 3;
  }

  .cta {
    min-width: min-content;
    max-width: 50%;
  }

  main .cta {
    margin-top: auto;
  }
}
