@import "/css/template.css";
@import "/css/card.css";

/* style for mobile */

h1 {
  visibility: hidden;
}

.successful-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  background-color: var(--color-off-white);
}

aside {
  display: none;
}

@media (min-width: 800px) {
  aside.agenda {
    display: none;
  }
  main {
    grid-area: 3 / 5 / span 1 / span 6;
  }
}
